<nz-breadcrumb>
	<nz-breadcrumb-item>Games</nz-breadcrumb-item>
	<nz-breadcrumb-item>{{crumb}}</nz-breadcrumb-item>
</nz-breadcrumb>
<h1 class="app-games__title">Games</h1>
<div class="app-home__content">
	<div class="app-home__json-data-container">
		<div class="d-flex"> 
			<div *ngIf="gamesData.length" class="d-flex flex-wrap"  >
				
				<nz-card (click)="goToGame()" *ngFor="let game of gamesData" class="p-3" nzHoverable style="width:240px" [nzCover]="coverTemplate">
					<!-- {{"http:"+game.thumb.url}} -->
					<nz-card-meta [nzTitle]="game.title" [nzDescription]="game.tag"></nz-card-meta>
					<ng-template #coverTemplate>
						<img alt="example" [src]="'http:'+game?.thumb?.url" />
					</ng-template>
				</nz-card>
			</div>
		</div>
	</div>
</div>
